apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: order
          ports:
            - name: grpc
              containerPort: 50051
          env:
            - name: SERVICE_NAME
              value: order
            - name: GRPC_ADDR
              value: ":50051"
---
apiVersion: v1
kind: Service
metadata:
  name: order
spec:
  selector:
    app: order
  ports:
    - name: grpc
      port: 50051
      targetPort: grpc
