apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: order
          ports:
            - name: grpc
              containerPort: 50051
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: SERVICE_NAME
              value: order
            - name: GRPC_ADDR
              value: ":50051"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: DATABASE_URL
