apiVersion: batch/v1
kind: Job
metadata:
  name: order-migrate
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: order-migrate
          args: ["-path=/migrations", "-database=$(DATABASE_URL)", "up"]
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: DATABASE_URL
